@model AssetAssignServiceModel

@{
    ViewBag.Title = "Assign Asset";
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center">@ViewBag.Title</h2>
        <form method="post">
            <div class="form-group">
                <label asp-for="Model"></label>
                <input asp-for="Model" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="SerialNr"></label>
                <input asp-for="SerialNr" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="InventoryNr"></label>
                <input asp-for="InventoryNr" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="UserId"></label>
                <select asp-for="UserId" class="form-control">
                    @foreach (var user in Model.AllUsers)
                    {
                        <option value="@user.Id">@user.Username</option>
                    }
                </select>
            </div>
            <partial name="_BackSaveButtonsToAllPartial" model="@Model" />
        </form>
    </div>
</div>