<div class="button-holder">
    <a asp-action="All"
       asp-route-sortOrder="@Model.SortOrder"
       asp-route-searchString="@Model.SearchString"
       asp-route-currentPage="@Model.CurrentPage"
       class="btn btn-primary float-left">
        << Back
    </a>
</div>
<div class="button-holder">
    <button type="submit" class="btn btn-primary float-right">Save</button>
</div>