<li class="nav-item">
    <a class="nav-link text-dark" 
       asp-area="" 
       asp-controller="Assets" 
       asp-action="All">
        Assets
    </a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" 
       asp-area="" 
       asp-controller="AssetModels" 
       asp-action="All">
        Models
    </a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark"
       asp-area=""
       asp-controller="Requests"
       asp-action="All">
        Requests
    </a>
</li>