@model ICollection<RoleListingServiceModel>

@{
    ViewBag.Title = "Roles";
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center">@ViewBag.Title</h2>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">
                        <a asp-action="All">Name</a>
                    </th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var role in Model)
                {
                    <tr>
                        <td>@role.Name</td>
                        <td>
                            <div class="button-holder">
                                <a asp-area="Admin"
                                   asp-controller="Roles"
                                   asp-action="Edit"
                                   class="btn btn-warning">
                                    Edit
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>