@model VendorDetailsServiceModel

@{
    ViewBag.Title = "Vendor Details";
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center">@ViewBag.Title</h2>
        <form method="get">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" disabled>
            </div>
            <div class="form-group">
                <label asp-for="Vat"></label>
                <input asp-for="Vat" class="form-control" disabled>
            </div>
            <div class="form-group">
                <label asp-for="Telephone"></label>
                <input asp-for="Telephone" class="form-control" disabled>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" disabled>
            </div>
            <div class="form-group">
                <label asp-for="Address"></label>
                <textarea asp-for="Address" class="form-control" rows="2" disabled></textarea>
            </div>
            <partial name="_BackEditButtonsPartial" model="@Model" />
        </form>
    </div>
</div>