@model BrandEditServiceModel

@{
    ViewBag.Title = "Edit Brand";
}

<div class="row bg-danger text-white">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center">@ViewBag.Title</h2>
        <form method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="small text-white"></span>
            </div>
            <partial name="_BackSaveButtonsToAllPartial" model="@Model" />
        </form>
    </div>
</div>